* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

canvas {
	background: black;
	position: absolute;
	/* top: 0;
	left: 0; */
	/* center */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#controls {
	position: absolute;
	padding: 10px;
	border: 2px solid white;
	left: 20px;
	top: 20px;
	width: 250px;
	background: rgba(255, 255, 255, 0.2);
}

button {
	padding: 10px 40px;
	width: 225px;
	font-size: 20px;
}

label,
input {
	color: white;
	font-size: 18px;
}
